body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #A0AABB;
    margin-top: 55px;
    margin-left: 75px;
    margin-bottom: 75px;
    font-size: 22px;
}

body.recipe {
    margin-right: 550px;
    text-align: justify;
}

h1 {
    color: black;
    font-size: 65px;
}

h2 {
    font-size: 40px;
    text-align: left;
}

h3 {
    font-size: 33px;
    text-align: left;
}

h4 {
    font-size: 27px;
    text-align: left;
}

.hp-recipes {
    font-size: 33px;
    margin-left: 20px;
}

body#divider {
    display: block;
    height: 5px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

#gallery {
    grid: auto auto auto;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: space-evenly;
    justify-items: end;
    align-content: space-evenly;
    align-items: center;
}

.hp-img {
    height: 300px;
    width: auto;
    padding: 30px;
}


